/* Top Navigation style */
.navTitle{
    font-family: 'Montserreat', sans-serif;
    font-weight: 700;
    color:#ffffff  !important;
    font-size: 24px;
}
.navTitleScroll{
    font-family: 'Montserreat', sans-serif;
    font-weight: 700;
    color:#0073E6 !important;
    font-size: 24px;
}
.NavLogo{
    width:50px;
    height:50px;
}
.navBackground{
    background-color: rgba(00,00,00, 0.2) !important;
}
.navBackgroundScroll{
    background-color: #ffffff !important;
 
}
.navItem{
    font-family: 'Montserreat', sans-serif;
    font-weight: 500;
    color:#ffffff !important;
    font-size: 18px;
}
.navItemScroll{
    font-family: 'Montserreat', sans-serif;
    font-weight: 500;
    color:#000 !important;
    font-size: 18px;
}

/* Top Banner style */
.topFixedBanner{
    background-image: url("../images/background.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.topBannerOverly{
    position: absolute;
    min-height: 500px;
    width: 100%;
    background:rgba(0, 0, 0, .7);
}
.topContent{
    margin-top: 10rem;
}
.topTitle{
    font-family: 'Montserreat', sans-serif;
    font-weight: 700;
    color:#ffffff;
    font-size: 48px;
}
.topSubTitle{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color:#ffffff;
    font-size: 22px;
}

/* Servicessection css */
.serviceMainTitle{
    color:#0073E6;
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-family: 'Montserreat', sans-serif;
    font-size: 28px;
    font-weight: 600;
}
.serviceName{
    margin-top: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 600;
}
.serviceDescription{
    color: #7f7f7f;
    margin-top: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
}
.serviceCard{
    margin:5px 5px 5px 5px;
    height:27rem;
    padding:60px 30px;
    box-shadow: 0 0 4px rgba(0, 115, 230, .2);
}
.serviceCard:hover{
    box-shadow: 0 0 8px rgba(0, 115, 230, .2);
}